################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassRosterManipulation/FileContentIndex/af95625c-ec42-4d61-8eea-0a99885faae3.vsidx
/.vs/ClassRosterManipulation/FileContentIndex
/.vs/ClassRosterManipulation/v17
